@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.btn {
  border: none;
  color: #ffffff;
  background-color: #e50914;
  cursor: pointer;
  outline: none;
}

.header {
  height: 742px;
  width: 100%;
  overflow: hidden;
  font-size: 16px;
}

.header__img--bg {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__shadow {
  width: 100%;
  height: 742px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), color-stop(60%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  z-index: 10;
}

.header__nav {
  width: 92%;
  height: 45px;
  background-color: transparent;
  position: absolute;
  top: 20px;
  left: 4%;
  right: 4%;
}

.header__logo, .header__btn--sign {
  position: relative;
  z-index: 100;
}

.header__logo {
  width: 166px;
  height: inherit;
  fill: #e50914;
  float: left;
}

.header__btn--sign {
  padding: 8px 18px;
  margin-top: 6px;
  font-size: inherit;
  float: right;
  border-radius: 4px;
}

.header__card {
  position: absolute;
  top: 280px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
  text-align: center;
  color: #ffffff;
  width: 714px;
}

.header__title {
  font-size: 64px;
  font-weight: 500;
  line-height: 64px;
  max-width: 610px;
  margin: auto;
}

.header__subtitle {
  padding: 0.8em 0 1.2em;
  font-size: 26px;
  font-weight: 500;
}

.header__email {
  width: 65%;
  padding: 1.6em 1em 1.3em 1em;
  font-size: 16px;
}

.header__btn--try {
  width: 35%;
  padding: 0.4em 1em 0.7em 1em;
  font-size: 28px;
}

.header__note {
  font-size: 18px;
  font-weight: 400;
  padding: 0.5em 0;
}

@media (min-width: 1024px) and (max-width: 1336px) {
  .header {
    height: 672px;
  }
  .header__img--bg {
    width: 100%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .header__shadow {
    height: 672px;
  }
  .header__card {
    top: 242px;
  }
  .header__logo {
    width: 134px;
  }
  .header__title {
    font-size: 56px;
    line-height: 56px;
  }
  .header__email {
    padding: 1.2em 1em 1em;
  }
  .header__btn--try {
    padding: 0.3em 1em 0.6em;
  }
}

@media (min-width: 548px) and (max-width: 1024px) {
  .header {
    height: 710px;
  }
  .header__shadow {
    height: 710px;
  }
  .header__logo {
    width: 108px;
  }
  .header__card {
    width: 510px;
    top: 242px;
  }
  .header__title {
    width: 100%;
    font-size: 50px;
    line-height: 50px;
  }
  .header__email {
    width: 100%;
    padding: 1em;
  }
  .header__btn--try {
    width: auto;
    font-size: 16px;
    padding: 0.8em 1em;
    border-radius: 4px;
  }
  .header__email, .header__btn--try {
    display: block;
    margin: auto;
    margin-bottom: 1.5em;
  }
}

@media (max-width: 548px) {
  .header {
    height: 504px;
  }
  .header__shadow {
    height: 504px;
  }
  .header__logo {
    width: 88px;
  }
  .header__card {
    width: 90%;
    top: 168px;
  }
  .header__title {
    width: 100%;
    font-size: 28px;
    line-height: 28px;
  }
  .header__subtitle {
    font-size: 18px;
  }
  .header__email {
    width: 100%;
    padding: 1em;
  }
  .header__note {
    font-size: 16px;
    padding: 0;
  }
  .header__btn--try {
    width: auto;
    font-size: 16px;
    padding: 0.8em 1em;
    border-radius: 4px;
  }
  .header__email, .header__btn--try {
    display: block;
    margin: auto;
    margin-bottom: 1em;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/*# sourceMappingURL=main.css.map */