@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.btn {
  border: none;
  color: #ffffff;
  background-color: #e50914;
  cursor: pointer;
  outline: none;
}

.subscribe, .header__subscribe, .questions__subscribe {
  position: relative;
}

.subscribe .email, .header__subscribe .email, .questions__subscribe .email {
  width: 68%;
  padding: 1.6em 1em 1.3em 1em;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.subscribe .email:focus ~ label, .header__subscribe .email:focus ~ label, .questions__subscribe .email:focus ~ label,
.subscribe .email:valid ~ label,
.header__subscribe .email:valid ~ label,
.questions__subscribe .email:valid ~ label {
  top: 3px;
  font-size: 12px;
}

.subscribe .btn--try, .header__subscribe .btn--try, .questions__subscribe .btn--try {
  width: 32%;
  padding: 0.4em 0 0.7em;
  font-size: 28px;
}

.subscribe label, .header__subscribe label, .questions__subscribe label {
  position: absolute;
  top: 22px;
  left: 16px;
  color: black;
  pointer-events: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #a6a6a6;
}

@media (min-width: 1024px) and (max-width: 1336px) {
  .subscribe .email, .header__subscribe .email, .questions__subscribe .email {
    padding: 1.2em 1em 1em;
    width: 68%;
  }
  .subscribe .btn--try, .header__subscribe .btn--try, .questions__subscribe .btn--try {
    padding: 0.3em 0 0.6em;
    width: 32%;
  }
  .subscribe label, .header__subscribe label, .questions__subscribe label {
    top: 20px;
  }
}

@media (min-width: 548px) and (max-width: 1024px) {
  .subscribe .email, .header__subscribe .email, .questions__subscribe .email {
    width: 100%;
    padding: 1em;
  }
  .subscribe .btn--try, .header__subscribe .btn--try, .questions__subscribe .btn--try {
    width: auto;
    font-size: 16px;
    padding: 0.8em 1em;
    border-radius: 4px;
  }
  .subscribe .email, .header__subscribe .email, .questions__subscribe .email, .subscribe .btn--try, .header__subscribe .btn--try, .questions__subscribe .btn--try {
    display: block;
    margin: auto;
    margin-bottom: 1.5em;
  }
  .subscribe label, .header__subscribe label, .questions__subscribe label {
    top: 20px;
  }
}

@media (max-width: 548px) {
  .subscribe .email, .header__subscribe .email, .questions__subscribe .email {
    width: 100%;
    padding: 1em;
  }
  .subscribe .btn--try, .header__subscribe .btn--try, .questions__subscribe .btn--try {
    width: auto;
    font-size: 16px;
    padding: 0.8em 1em;
    border-radius: 4px;
  }
  .subscribe .email, .header__subscribe .email, .questions__subscribe .email, .subscribe .btn--try, .header__subscribe .btn--try, .questions__subscribe .btn--try {
    display: block;
    margin: auto;
    margin-bottom: 1em;
  }
  .subscribe label, .header__subscribe label, .questions__subscribe label {
    top: 18px;
  }
}

.header {
  height: 742px;
  width: 100%;
  overflow: hidden;
  font-size: 16px;
  border-bottom: 8px solid #222222;
}

.header__img--bg {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__shadow {
  width: 100%;
  height: 742px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), color-stop(60%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  z-index: 10;
}

.header__nav {
  width: 92%;
  height: 45px;
  background-color: transparent;
  position: absolute;
  top: 20px;
  left: 4%;
  right: 4%;
}

.header__logo, .header__btn--sign {
  position: relative;
  z-index: 100;
}

.header__logo {
  width: 166px;
  height: inherit;
  fill: #e50914;
  float: left;
}

.header__btn--sign {
  padding: 8px 18px;
  margin-top: 6px;
  font-size: inherit;
  float: right;
  border-radius: 4px;
}

.header__card {
  position: absolute;
  top: 280px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
  text-align: center;
  color: #ffffff;
  width: 100%;
  padding: 0 25%;
}

.header__title {
  font-size: 64px;
  font-weight: 500;
  line-height: 64px;
  width: 80%;
  margin: auto;
}

.header__subtitle {
  padding: 0.8em 0 1.2em;
  font-size: 26px;
  font-weight: 500;
}

.header__note {
  font-size: 18px;
  font-weight: 400;
  padding: 0.5em 0;
}

@media (min-width: 1024px) and (max-width: 1336px) {
  .header {
    height: 672px;
  }
  .header__img--bg {
    width: 100%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .header__shadow {
    height: 672px;
  }
  .header__card {
    top: 242px;
    padding: 0 20%;
  }
  .header__logo {
    width: 134px;
  }
  .header__title {
    font-size: 56px;
    line-height: 56px;
  }
}

@media (min-width: 548px) and (max-width: 1024px) {
  .header {
    height: 710px;
  }
  .header__shadow {
    height: 710px;
  }
  .header__logo {
    width: 108px;
  }
  .header__card {
    top: 192px;
    padding: 0 12%;
  }
  .header__title {
    font-size: 50px;
    line-height: 50px;
  }
}

@media (max-width: 548px) {
  .header {
    height: 504px;
  }
  .header__btn--sign {
    padding: 6px 12px;
    margin-top: 6px;
    font-size: 14px;
  }
  .header__shadow {
    height: 504px;
  }
  .header__logo {
    width: 88px;
  }
  .header__card {
    padding: 0 5%;
    top: 168px;
  }
  .header__title {
    width: 100%;
    font-size: 28px;
    line-height: 28px;
  }
  .header__subtitle {
    font-size: 18px;
  }
  .header .note {
    font-size: 16px;
    padding: 0;
  }
}

.products {
  width: 100%;
  background-color: #000000;
  border-top: 8px solid #222222;
  color: #ffffff;
}

.products img {
  max-width: 100%;
}

.products__template {
  max-width: 1100px;
  margin: auto;
  padding: 2em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__text, .products__img {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.products__video {
  position: absolute;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 35%;
  left: 50%;
  width: 62%;
}

.products .nth1 {
  top: 48%;
  left: 50%;
  width: 72%;
}

.products .nth3 {
  top: 35%;
  left: 50%;
  width: 62%;
}

.products__text {
  padding: 0 3em 0 2em;
}

.products__content {
  padding-right: 3em;
}

.products__title {
  font-size: 50px;
  margin-bottom: 0.5em;
  line-height: 50px;
}

.products__subtitle {
  font-size: 26px;
  line-height: 36px;
}

.products__img--mobile {
  position: relative;
  -webkit-transform: translate(-14%, -5%);
          transform: translate(-14%, -5%);
}

.products__box {
  position: absolute;
  bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  min-width: 280px;
  max-height: 96px;
  border: 4px solid #222222;
  border-radius: 10px;
  background-color: #000000;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.products__box--img {
  max-width: 52px !important;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.products__box--text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.products__box--gif {
  max-width: 50px !important;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.products__box--gif, .products__box--img, .products__box--text {
  margin: 4px 8px;
}

.reverse .products__template {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.reverse .products__content {
  padding-left: 3em;
  padding-right: 0;
}

@media (min-width: 548px) and (max-width: 1024px) {
  .products {
    padding: 3em 1em;
  }
  .products__template {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .products__content {
    padding: unset;
  }
  .products__title {
    font-size: 40px;
  }
  .products__subtitle {
    font-size: 20px;
  }
  .products__img--mobile {
    -webkit-transform: unset;
            transform: unset;
  }
  .products__box {
    -webkit-transform: translate(34%, 18%);
            transform: translate(34%, 18%);
  }
  .reverse .products__template {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reverse .products__content {
    padding: unset;
  }
}

@media (max-width: 548px) {
  .products {
    padding: 2em 1em;
  }
  .products__template {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .products__content {
    padding: unset;
  }
  .products__text {
    padding: 0;
  }
  .products__title {
    font-size: 26px;
    line-height: 30px;
  }
  .products__subtitle {
    font-size: 18px;
    line-height: 24px;
  }
  .products__img--mobile {
    -webkit-transform: unset;
            transform: unset;
  }
  .products__box {
    -webkit-transform: translate(-50%, 76%);
            transform: translate(-50%, 76%);
    left: 50%;
    width: 80%;
    min-width: unset;
    max-width: 300px;
  }
  .products__box--img {
    max-width: 34px !important;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .products__box--text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    font-size: 12px;
    text-align: left;
  }
  .products__box--gif {
    max-width: 32px !important;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .products__box--gif, .products__box--img, .products__box--text {
    margin: 4px 8px;
  }
  .reverse .products__template {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reverse .products__content {
    padding: unset;
  }
}

.questions {
  width: 100%;
  background-color: #000000;
  border-top: 8px solid #222222;
  color: #ffffff;
  padding: 2em 0;
}

.questions__container {
  width: 80%;
  margin: auto;
}

.questions__title {
  font-size: 50px;
  text-align: center;
  margin: 0.5em 0;
}

.questions__question--box {
  width: 100%;
  max-width: 815px;
  margin: auto;
  margin-top: 8px;
  background-color: #303030;
  font-size: 26px;
  padding: 1em 2em;
}

.questions__answer--box {
  width: 100%;
  max-width: 815px;
  margin: auto;
  margin-top: 2px;
  background-color: #303030;
  font-size: 26px;
  padding: 1em 2em;
}

.questions__subscribe {
  margin-top: 1em;
  text-align: center;
}

.questions .note {
  font-size: 18px;
  font-weight: 400;
  padding-top: 2em;
  text-align: center;
  width: 80%;
  margin: auto;
}

.questions__text, .questions__label {
  display: inline;
}

.questions__label {
  position: relative;
  float: right;
  cursor: pointer;
  padding: 4px;
  font-size: 28px;
  line-height: 28px;
}

@media (min-width: 548px) and (max-width: 1024px) {
  .questions__title {
    font-size: 40px;
  }
  .questions__question--box, .questions__answer--box {
    font-size: 20px;
    padding: 0.8em 1.5em;
  }
  .questions__label {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (max-width: 548px) {
  .questions__container {
    width: 100%;
  }
  .questions__title {
    font-size: 26px;
  }
  .questions__question--box, .questions__answer--box {
    font-size: 18px;
    padding: 0.8em 1.5em;
  }
  .questions__label {
    font-size: 18px;
    line-height: 18px;
  }
  .questions__subscribe {
    margin: 1em;
  }
}

.footer {
  width: 100%;
  background-color: #000000;
  border-top: 8px solid #222222;
  color: #a6a6a6;
  padding: 2em 0;
}

.footer__container {
  width: 80%;
  margin: auto;
}

.footer__title {
  font-size: 20px;
}

.footer__title a {
  color: #a6a6a6;
  text-decoration: none;
}

.footer__title a:hover {
  text-decoration: underline;
}

.footer__content {
  margin: 2em 0;
  font-size: 12px;
}

.footer__content span {
  width: 25%;
  padding: 8px 0;
  display: inline-block;
}

.footer__content span a {
  color: #a6a6a6;
  text-decoration: none;
}

.footer__content span a:hover {
  text-decoration: underline;
}

.footer__translate {
  padding: 12px 16px;
  background-color: transparent;
  border: 1px solid #222222;
  border-radius: 4px;
  color: #a6a6a6;
  outline: none;
  margin-bottom: 2em;
}

.footer__translate option {
  background-color: #000000;
  outline: none;
}

@media (min-width: 548px) and (max-width: 1024px) {
  .footer__content span {
    width: 32%;
  }
}

@media (max-width: 548px) {
  .footer__content span {
    width: 49%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/*# sourceMappingURL=main.css.map */